<app-header></app-header>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="aboutUs">
    <img src="assets/about-us-banner-pic.png" width="550px" height="470px" class = "pic">
    <h1 id="about-us-heading">About Us</h1>
    <br>
    <p id="about-us-info"> To demonstrate your unwavering love for your bias, you definitely don't want to skip out on any K-Pop merchandise! You're in luck since it's now simple to get hold of various K-pop items thanks to our company, whose goal is to support the industry by offering Authentic, Easily-accessible K-pop merchandise that's high-quality, interesting, and well-priced. <br> Chingus, Happy Shopping! Kamsahamnida!</p>
</div>
   
<div class="ourTeam">
    <h1 id="our-team-heading">Our Team</h1>
    <br>
    <p id="our-team-info">We're driven by a staff that is primarily made up of K-pop fans that continually asks, tinkers, 
        and challenges to uncover tremendous innovation at every step coincide to our objective in which 
        meeting the demands of online shoppers for Kpop Merchandise by providing a Wide range of alternatives, 
        a User-friendly website, and Inexpensive rates.</p>
</div>
     
<div class="team">
    <h1 id="team-header">Team Members</h1>

</div>
     
       <div class="row">
         <div class="column">
           <img src="assets/lee.png" alt="Lee" style="width:80%">
           <br><br>
           <h3>Lee Ann Lo</h3>
           <p class="w3-opacity">BSIT-MWA</p>
           <p>"They say good things take time ... that's why I'm always late."</p>
          


         
  
         </div>
         <div class="column">
           <img src="assets/apple.png" alt="Apple" style="width:80%">
           <br><br>
           <h3>Apple Vicente</h3>
           <p class="w3-opacity">BSIT-MWA</p>
           <p>"If I ever let my head down it will be just to admire my shoes."</p>
        
    
  
         </div>
         <div class="column">
           <img src="assets/jisun.png" alt="Jayson" style="width:80%">
           <br><br>
           <h3>Jayson Oquias</h3>
           <p class="w3-opacity">BSIT-MAA</p>
          <p> “I am the measure of my worth, and I say I am worthy.”</p>
         
  
         </div>
         <div class="column">
           <img src="assets/eloi.png" alt="Eloisa" style="width:80%">
           <br><br>
           <h3>Eloisa Senga</h3>
           <p class="w3-opacity">BSIT-MAA</p>
           <p>"The way to get started is to quit talking and begin doing."</p>
           
         
  
         </div>
         <div class="column">
           <img src="assets/thea.png" alt="Thea" style="width:80%">
           <br><br>
           <h3>Althea Lappay</h3>
           <p class="w3-opacity">BSIT-MWA</p>
           
           <p>"We need much less than we think we need."</p>
  
  <br>
         </div>
       </div>
       
       <app-footer></app-footer>      