<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<body>

	<div id="slider">
		<figure>
			<img src="assets/Banner.png">
			<img src="../../assets/Blackpink.jpg">
			<img src="../../assets/Seventeen.jpg">
			<img src="../../assets/Twice.jpg">
            <img src="assets/Banner.png">
			
		</figure>
	</div>

<div>
    <marquee>Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
             Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
             Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
             Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
             Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
             Welcome to K-Merch Store!  &nbsp; &nbsp; &#10084; &nbsp; &nbsp;
            </marquee>
</div>
</body>