<link rel="stylesheet" href="../footer/footer.component.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">

<footer id="mainFooter">
    <div class="faqs">
      <div class="info">
        <h1 style="color: white; font-weight: bold;">Useful Links</h1>
        <p><a style="color: white;" href="">Privacy Policy</a></p>
        <p><a style="color: white;" href="">Terms & Conditions</a></p>
      </div>
      <div class="infot">
        <h1 style="color: white; font-weight: bold;">Social Media</h1>
        <a href="#"><img src="assets/fb-logo.png" alt="" /></a>
        <a href="#"><img src="assets/instagram-logo.png" alt="" /></a>
      </div>
      <div class="infos">
        <img src="assets/k-merch-logo.png" alt="logo" />
      </div>
      <div class="info">
        <h1 style="margin-top: 10px; color: white; font-weight: bold; font-family: 'DM Sans', sans-serif; font-size: 1.3em;" class="subs">Subscribe to our Newsletter! </h1>
        <form action="">
          <input style="margin-top: 10px;" type="email" name="" id="" placeholder="Email" />
          <br />
          <input type="submit" value="Subscribe" />
        </form>
      </div>
    </div>
    <p class="foot">&copy; 2022</p>
  </footer>